## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/

## Visual Studio
.vs/
*.rsuser
*.csproj.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
